In [ ]:
%reload_ext autoreload
%autoreload 2
import colabexts
from colabexts.jcommon import *

In [ ]:
import os, docx, pandas as pd

filename= os.path.expanduser("~/Desktop/data/LLM/sample1.docx")
doc = docx.Document(filename)


def replace_section(doc, section_to_replace, new_text):
    for paragraph in doc.paragraphs:
        if section_to_replace in paragraph.text:
            # Replace the section within the paragraph
            paragraph.text = paragraph.text.replace(section_to_replace, new_text)
            break  # Assuming only one section needs replacement
    return doc

# STEP 1
tables=[]
for table in doc.tables:
    data = []
    keys = None
    for i, row in enumerate(table.rows):
        text = (cell.text for cell in row.cells)

        if i == 0:
            keys = tuple(text)
            continue
        row_data = dict(zip(keys, text))
        data.append(row_data)

    df = pd.DataFrame(data)
    tables.append(df)

# STEP 2: extract text 
headerStyle = []
headerText  = []

for p in doc.paragraphs:
    if p.style.name != "Normal" and "Paragraph" not in p.style.name:
        headerStyle.append(p.style.name)
        headerText.append(p.text)
        print(p.style.name + " : " + p.text)
    else:
        pass
        #print("++".join(headerStack) + p.text[0:64])

Heading 1 : Heading 1
Heading 2 : An experienced and reliable company
Heading 3 : A dependable long-term partner
Heading 3 : Example Table
Heading 2 : 1.4. Ariane launch vehicle family â€“ History
Heading 3 : Ariane 1, 2, 3

In [38]:
tables[0]

     H1  H2   H3   H4  H5
0     A   B    B    B   B
1     C  45  767  567  67
2  7889   8   78    7   7